@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

$link-hover-color:          none;
$link-hover-decoration:     none !default;

$navbar-nav-link-padding-x:         1rem !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px
) !default;

$grid-gutter-width:           20px !default;
$navbar-dark-toggler-border-color:  transparent !default;
$navbar-light-toggler-border-color:  transparent !default;
$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              .75rem !default;

@import "node_modules/bootstrap/scss/bootstrap";


::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ddd;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto 0 auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    max-width: 100%; /* Image does not overflow the content area */
    text-align: right;
    color: #6c757d;
    font-size: .75rem;
    margin-bottom: 1rem;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text {
    padding: 5px;
}

body {
    font-size: 14px;
}
a {
    transition: 0.2s;
}
a img {
    transition: 0.2s;
}
a:hover img, .post:hover a img {
    -moz-filter: brightness(120%);
    -ms-filter: brightness(120%);
    -o-filter: brightness(120%);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
#site {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}
.navbar {
    min-height: 56px;
}
.breadcrumb {
    font-size: .75rem;
}
.navbar {
    .dropdown-menu {
        right: 0;
        left: auto !important;
    }
    .dropdown-item {
        color: #212529;
    }
    .dropdown-item:active, .dropdown-item.active {
        color: #fff;
    }
}
.post {
    overflow: hidden;
    h2, h4 {
        line-height: 1.2;
        a {
            color: #333;
        }
    }
    p {
        color: #6c757d;
        margin: 0;
    }
}
.clearfix {
    &:after {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 1rem;
    }
}
.widget {
    width: 100%;
    .sub-menu {
        .menu-item {
            padding-left: 1rem;
            padding-right: 1rem;
            a {
                font-weight: normal;
            }
        }
    }
    .widget-title {
        font-size: 1rem;
        border-radius: 4px;
        padding: .5rem .75rem;
        color: #fff;
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            padding: .5rem;
            border-bottom: 1px solid #dee2e6;
            display: block;
            a {
                font-weight: 600;
                text-transform: capitalize;
                color: #333;
                font-weight: 500;
            }
            &:last-child {
                border: 0;
            }
        }
    }
    .tagcloud a {
        padding: .25em .4em;
        background: #eee;
        display: inline-block;
        border-radius: 3px;
        margin-bottom: 0.25em;
        color: #222;
    }
    .calendar_wrap {
        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
            }
            td, th {
                padding: .75rem;
                vertical-align: top;
            }
            a {
                font-weight: bold;
            }
            tfoot {
                #prev, #next {
                    text-align: center;
                }
                a {
                    padding: .5rem .75rem;
                    background: #eee;
                    border-radius: 4px;
                }
            }
            caption {
                caption-side: top;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}
.widget_categories {
    .cat-item {
        width: 50%;
        display: inline-block;
        clear: none;
        float: left;
    }
    form {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        select {
            display: inline-block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem 1.75rem .375rem .75rem;
            line-height: 1.5;
            color: #495057;
            vertical-align: middle;
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
            background-size: 8px 10px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
        }
    }
}

.search-form {
    position: relative;
    max-width: 300px;
    label {
        margin: 0;
        max-width: 300px;
        width: 100%;
    }
    .screen-reader-text, .search-submit {
        display: none;
    }
    .search-field {
        position: relative;
        vertical-align: top;
        display: block;
        padding: .375rem .75rem;
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.screen-reader-text {
    display: none;
}

.footer {
    .left {
        padding: 1rem .5rem 1.5rem;
    }
    text-align: center;
    #menu-footer {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 .5rem;
            a {
                color: #212529;
            }
        }
    }
}

.single {
    a:hover {
        text-decoration: underline;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4, h5, h6 {
        font-size: 1.2rem;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: 400;
    }
}

.rel {
    background: #e9ecef;
    padding: .5rem 1rem;
    border-radius: 3px;
}
.gallery {
    &:after {
        content:"";
        display:table;
        clear:both;
    }
    figure {
        float:left;
        margin:0 2% 1em 0;
        img {
            max-width:100%;
            height:auto;
            margin:0 auto;
            display:block;
        }
    }
    &.gallery-columns-1 figure {
        width:100%;
        margin:0 0 1em 0;
        float:none;
    }
    &.gallery-columns-2 figure {
        width:49%;
        &:nth-of-type(even) {margin-right:0;}
        &:nth-of-type(odd) {clear:left;}
    }
    &.gallery-columns-3 figure {
        width:32%;
        &:nth-of-type(3n+3) {margin-right:0;}
        &:nth-of-type(3n+4) {clear:left;}
    }
    &.gallery-columns-4 figure {
        width:23.25%;
        &:nth-of-type(4n+4) {margin-right:0;}
        &:nth-of-type(4n+5) {clear:left;}
    }
    &.gallery-columns-5 figure {
        width:18%;
        &:nth-of-type(5n+5) {margin-right:0;}
        &:nth-of-type(5n+6) {clear:left;}
    }
    &.gallery-columns-6 figure {
        width:14.2%;
        &:nth-of-type(6n+6) {margin-right:0;}
        &:nth-of-type(6n+7) {clear:left;}
    }
    &.gallery-columns-7 figure {
        width:12%;
        &:nth-of-type(7n+7) {margin-right:0;}
        &:nth-of-type(7n+8) {clear:left;}
    }
    &.gallery-columns-8 figure {
        width:10.2%;
        &:nth-of-type(8n+8) {margin-right:0;}
        &:nth-of-type(8n+9) {clear:left;}
    }
    &.gallery-columns-9 figure {
        width:8.85%;
        &:nth-of-type(9n+9) {margin-right:0;}
        &:nth-of-type(9n+10) {clear:left;}
    }
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-tw {
    color: #fff;
    background-color: #00a0d1;
    border-color: #00a0d1;
}
@media (max-width:767px) {
    .gallery {
        &.gallery-columns-4 figure,
        &.gallery-columns-5 figure,
        &.gallery-columns-6 figure,
        &.gallery-columns-7 figure,
        &.gallery-columns-8 figure,
        &.gallery-columns-9 figure { width: 49%; }

        &.gallery-columns-4 figure:nth-of-type(even),
        &.gallery-columns-5 figure:nth-of-type(even),
        &.gallery-columns-6 figure:nth-of-type(even),
        &.gallery-columns-7 figure:nth-of-type(even),
        &.gallery-columns-8 figure:nth-of-type(even),
        &.gallery-columns-9 figure:nth-of-type(even) { margin-right:0; }

        &.gallery-columns-4 figure:nth-of-type(odd),
        &.gallery-columns-5 figure:nth-of-type(odd),
        &.gallery-columns-6 figure:nth-of-type(odd),
        &.gallery-columns-7 figure:nth-of-type(odd),
        &.gallery-columns-8 figure:nth-of-type(odd),
        &.gallery-columns-9 figure:nth-of-type(odd) { clear:left; }
    }
}


.comments-area {
    .comments-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        margin: 15px 0;
        color: #222;
        background: #e9ecef;
        padding: .5rem 1rem;
        border-radius: 3px;
        text-align: center;
    }
    margin-bottom: 48px;
    padding-top: 10px;
    margin-top: -10px;
    textarea, input {
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: #444;
        border: 1px solid #e1e1e1;
        width: 100%;
        max-width: 100%;
        padding: 6px 9px;
        background: #f4f4f4;
    }
    textarea {
        height: 168px;
        min-height: 168px;
    }
    input[type=submit] {
        font-size: 14px;
        background-color: #222;
        border-radius: 0;
        color: #fff;
        border: 0;
        padding: 10px 15px;
        border-radius: 4px;
        font-weight: 500;
        -webkit-transition: background-color .4s;
        -moz-transition: background-color .4s;
        -o-transition: background-color .4s;
        transition: background-color .4s;
        -webkit-appearance: button;
        cursor: pointer;
    }
}
.comment-respond {
    margin-bottom: 21px;
    padding-top: 1rem;
}
#reply-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 10px;
}
#respond .comment-form .comment-form-author, #respond .comment-form .comment-form-email, #respond .comment-form .comment-form-url, #respond .comment-form .comment-form-comment {
    margin-bottom: 1rem;
}
#respond .comment-form .comment-form-author label, #respond .comment-form .comment-form-email label, #respond .comment-form .comment-form-url label, #respond .comment-form .comment-form-comment label {
    display: block;
    color: #999;
    margin-bottom: 3px;
}
.comment-list {
    padding: 0;
    .comment {
        list-style-type: none;
        font-size: 12px;
        line-height: 21px;
        color: #444;
        padding-top: 20px;
        margin: 0;
        border-top: 1px solid #e6e6e6;

        .reply {
            margin-left: 69px;
            margin-bottom: 1rem;
        }
    }
    footer {
        clear: left;
    }
    .comment-content {
        margin-left: 69px;
        p {
            margin: 0 0 21px;
            word-wrap: break-word;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
    .avatar {
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 19px;
        border-radius: 3px;
    }
    cite {
        padding-right: 10px;
    }
    cite, cite a {
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        color: #000;
        border-radius: 3px;
    }
    .comment-link {
        color: #b5b5b5;
        font-size: 11px;
        display: inline-block;
    }
    .comment-reply-link {
        font-size: 11px;
        color: #b5b5b5;
    }
}

ol.comment-list>.comment:first-child {
    border: 0;
}
.comment-metadata a {
    color: #a5a5a5;
}
.comment-form-cookies-consent {
    #wp-comment-cookies-consent {
        width: auto;
        display: inline-block;
        margin-right: .5rem;
    }
    #wp-comment-cookies-consent {
        display: inline-block;
    }
}

@media (min-width: 576px) {
    #site {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    .footer {
        .left {
            padding-top: 0;
            padding-bottom: 0;
            text-align: left;
        }
        .right {
            text-align: right;
        }
        text-align: center;
        #menu-footer {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 .5rem;
            }
        }
    }
}

@media (max-width: 991.98px) {

    .pagination {
        .page-item:nth-child(2) .page-link {
            border-top-left-radius: 0.25rem !important;
            border-bottom-left-radius: 0.25rem !important;
        }
    }
}

@media (max-width: 767px){
    .offcanvas-collapse {
        position: fixed;
        z-index: 9999;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
        font-size: 1.15rem;
    }
    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}
